* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #eee;
  color: #333;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

body, input, button {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 500;
}

.info {
  padding: 20px;
  z-index: 10;
}

.info h1 {
  margin-bottom: 10px;
}

.info ul {
  list-style: none;
  display: flex;
}

.info ul li:first-child {
  margin-right: 8px;
}

.info ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.info ul li span {
  display: block;
  margin: 0px 8px;
}

.info a {
  color: inherit;
}

.info a:hover {
  cursor: pointer;
}

.info > p {
  display: inline;
}

.info > span {
  display: inline;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 1;
}

#gui {
  right: 0;
  position: fixed;
  top: 0;
  z-index:10;
}
